@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";
/* GENERAL */
body
{
    font-family: 'lato',sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}

img
{
    width: 70%;
    height: auto;

}
img[alt="hamza"]
{
    margin-bottom: 40px;
   
}
section
{
    padding: 45px 0px 80px 0;
}
section .heading
{
    text-align: center
}
.red-divider
{
    width: 100px;
    height: 2px;
    background: #8B4513;
    margin: 0 auto;
}
/*navbar*/
#mynavbar{
    background-color: #FFE4B5;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid white;
}

.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
.nav-link.active,.nav-link:hover{
    
    background-image: url('image/me.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white !important;

}
/* about */
#about
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
    background-image: url('image/backgroundimg.jpg');
}
.picture
{
    text-align: center;
    margin: 0px auto;
    float: none;

}
.profile-picture
{
    text-align: center;
    margin: 0px auto;
    float: none;

}
#about .heading h1
{
    color: #fff;
    text-transform: uppercase;
}
#about .heading h3
{
    color: rgb(0, 0, 0);
}
.button1
{
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease-in 0s;

}
.button1:hover
{
    background-color: white;
    color: #FFE4B5;
    text-decoration: none;
}
/*skills*/
#skills
{
    padding-top: 18%;
    height: 100vh;
    background: #FAF0E6;
}
#skills .heading h2
{
    color: #8B4513;
    text-transform: uppercase;
}
#skills .progress
{
    height: 20%;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar
{
    background: #DEB887;
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}
/*experience*/
#experience
{
    height: 100vh;
    background: #FFE4B5;
}
.white-divider
{
    width: 100px;
    height: 2px;
    background: #8B4513;
    margin: 0 auto;
}
#experience .heading h2
{
    color: #fff;
}
.timeline
{
    padding: 30px 10px;
    position: relative;
}
.timeline::before
{
    top:0;
    bottom:0;
    position:absolute;
    content:" ";
    width:5px;
    background-color:#333;
    left:50%;
    margin-left: -2.5px;
}
.timeline > li 
{
    margin-bottom:20px;
    position: relative;
}
.timeline > li::after
{
    clear: both;
}
.timeline > li::before ,.timeline > li::after
{
    content:" ";
    display:table;
}
.timeline li .timeline-badge
{
    color:#FFE4B5;
    width:50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position:absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge {
    margin-top: 19px;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color: #FFE4B5;
}
/*education*/
#education .heading h2
{
    color: #8B4513;
    text-transform: uppercase;
    margin: 15px 0px;
}
.education-block{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.education-block span{
    font-size: 15px;
    margin-bottom: 15px;
    color: #888;
}
.education-block span{
    font-size: 35px;
}
.education-block h3{
    color: #00008B;
    margin: 15px 0px;
}
.education-block h4{
    margin-bottom: 20px;
    font-weight: normal;
}
.education-block .p img{
    width: 145px;
    border: solid;
    border-radius: 4px 4px 4px 4px;
  
}
/*portfelio*/
#portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FAF0E6;
}
#portfolio .heading h2 {
    color: #8B4513;
}
#portfolio img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio img:hover{
    filter: none;
    -webkit-filter: none;
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}
/*recommendation*/
#recommendation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;

}
#recommendation .heading h2{
  color: #8B4513;
  text-transform: uppercase;
}
#mycarousel .carousel-item{
    padding: 30px 30px 90px;
    position: relative;
}
#mycarousel .carousel-item h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFE4B5;
}
#mycarousel{
    position: relative;
}
/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px 0 40px;
}
footer a{
    color: #FFE4B5;
    font-size: 25px;
    line-height: 35px;
}
footer a:hover{
    font-size: 27px;
}
footer h5{
    color:white;
    font-weight: normal;
}



/**/
#formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFE4B5 ;
    border: 3px solid red;
    border-radius: 3px;

}



